<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629424338015-dpc1a1118vibg4ont6v4aggs9lg21nb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629424338015-dpc1a1118vibg4ont6v4aggs9lg21nb5</string>
	<key>API_KEY</key>
	<string>AIzaSyCrolirbKpw4CSne_R3HbDYdmqUpTJOKZM</string>
	<key>GCM_SENDER_ID</key>
	<string>629424338015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.leobia.spesaApp</string>
	<key>PROJECT_ID</key>
	<string>spesa-app-7985f</string>
	<key>STORAGE_BUCKET</key>
	<string>spesa-app-7985f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629424338015:ios:59cec14b371acbbd05d7ea</string>
</dict>
</plist>